<div class="container mt-4">
  <!-- Header Section -->
  <div class="header">
    Get API <br />
    Get User, Get Customer
  </div>

  <app-alert [message]="'Welcome in Get API'" [alertType]="'Warning'" />
  <hr />
  <app-alert [message]="'Welcome in Error  API'" [alertType]="'Error'" />
  <hr />
  <app-my-button [btnText]="'Get Data'" [btnClass]="'btn btn-danger'" />
  <div class="row mt-4">
    <div class="col-2">
      <button class="btn btn-success" (click)="getAllUser()">Get Data</button>
    </div>
    <div class="col-3">
      <select class="form-select">
        @for(item of userList; track $index){
        <option>{{ item.name }}</option>
        }
      </select>
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="getAllCustomer()">
        Get Customer
      </button>
    </div>
    <div class="col-3">
      <select class="form-select">
        @for(item of customerList; track $index){
        <option value="{{ item.userId }}">
          {{ item.fullName }} -> {{ item.emailId }}
        </option>
        }
      </select>
    </div>
  </div>
</div>
