<div class="mt-2 p-2 bg-secondary text-white rounded">
  <h1>Signal</h1>
</div>
<div class="row pt-3">
  <div class="col-3">
    <h1>{{ firstName() }}</h1>
  </div>
  <div class="col-3">
    <h1>{{ rollNo() }}</h1>
  </div>
</div>
<div class="row pt-3">
  <div class="col-3">
    <button class="btn btn-primary" (click)="changeName()">Change Name</button>
  </div>
  <div class="col-3">
    <h1>{{ fullName() }}</h1>
    <button class="btn btn-primary" (click)="changeFirstName()">Change First Name</button>
  </div>
  <div class="col-3">
       <button class="btn btn-primary" (click)="changeLastName()">Change Last Name</button>
     </div>
  <div class="col-3">
    <h1>{{ courseName }}</h1>
  </div>
</div>
