<div class="row">
  <div class="col-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sl No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="isApi">
          <tr>
            <td colspan="5" class="text-center">
              <div class="spinner-border text-muted"></div>
              <div class="spinner-border text-primary"></div>
              <div class="spinner-border text-success"></div>
              <div class="spinner-border text-info"></div>
              <div class="spinner-border text-warning"></div>
              <div class="spinner-border text-danger"></div>
              <div class="spinner-border text-secondary"></div>
              <div class="spinner-border text-dark"></div>
              <div class="spinner-border text-light"></div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!isApi">
          @for (item of userList; track $index) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.username }}</td>
          </tr>

          }
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="col-2">
       {{name}}
  </div>
  <div class="col-2">
       <button class="btn btn-primary" (click)="reloadUi()">Reload</button>
  </div>
</div>
