<div class="container mt-4">
  <!-- Header Section -->
  <div class="header">
    Post API <br />
    Create Department, Department List
  </div>

  <app-alert message="Welcome To Post Page" alertType="Success"/>
  <!-- Content Section -->
  <div class="row mt-4">
    <!-- Table Section -->
    <div class="col-md-8">
      <div class="subheader">Department List</div>
      <div class="table-section">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Name</th>
              <th>Logo</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of departmentList; let i = index"
              [attr.data-id]="item.departmentId"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ item.departmentName }}</td>
              <td>{{ item.departmentLogo }}</td>
              <td>
                <button
                  class="btn btn-primary me-2"
                  (click)="onEdit(item)"
                  title="Edit"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  class="btn btn-danger"
                  (click)="onDelete(item.departmentId)"
                  title="Delete"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Form Section -->
    <div class="col-md-4">
      <div class="subheader">New Department</div>
      <div class="form-section">
        <form>
          <div class="mb-3">
            <label for="departmentName" class="form-label"
              >Department Name</label
            >
            <input
              type="text"
              [(ngModel)]="deptObj.departmentName"
              name="departmentName"
              class="form-control"
              id="departmentName"
              placeholder="Enter Name"
            />
          </div>
          <div class="mb-3">
            <label for="departmentLogo" class="form-label"
              >Department Logo</label
            >
            <input
              type="text"
              [(ngModel)]="deptObj.departmentLogo"
              name="departmentLogo"
              class="form-control"
              id="departmentLogo"
              placeholder="Enter Logo URL"
            />
          </div>
          <div class="d-flex justify-content-between">
            <button type="reset" class="btn btn-secondary">Reset</button>
            @if (deptObj.departmentId == 0) {

            <button type="submit" class="btn btn-success" (click)="onSave()">
              Save
            </button>
            } @else {
            <button type="submit" class="btn btn-success" (click)="onUpdate()">
              Update
            </button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
