<div class="mt-2 p-2 bg-secondary text-white rounded">
  <h1>Structural Directive</h1>
  <p>*ngif, *ngfor</p>
  <button class="btn btn-primary" [routerLink]="['/attributedirective']">Go To Attribute</button>
</div>
<div class="row pt-3">
  <div class="col-3">
    <div *ngIf="isDiv1Visiable" class="bg-danger p-3 text-center">
      <h4>Div-1</h4>
    </div>
  </div>
  <div class="col-3">
    <div *ngIf="isDiv2Visiable" class="bg-success p-3 text-center">
      <h4>Div-2</h4>
    </div>
  </div>
  <div class="col-3">
    <div *ngIf="num1 == num2" class="bg-secondary p-3 text-center">
      <h4>Div-3</h4>
    </div>
  </div>
  <div class="col-3">
    <div *ngIf="selectedState == 'Japan'" class="bg-primary p-3 text-center">
      <h4>Div-4</h4>
    </div>
  </div>
</div>
<div class="row pt-3">
  <div class="col-3">
    <div class="bg-danger p-3 text-center">
      <button class="btn btn-danger" (click)="hideDiv1()">Hide</button>
      <button class="btn btn-primary mx-2" (click)="showDiv1()">Show</button>
    </div>
  </div>
  <div class="col-3 text-center">
    <button class="btn btn-success" (click)="toggleDiv2()">Toggle</button>
  </div>
  <div class="col-3">
    <div style="display: flex; align-items: center">
      <input
        type="text"
        [(ngModel)]="num1"
        placeholder="Num-1"
        class="form-control me-2"
        style="max-width: 200px"
      />
      <input
        type="text"
        [(ngModel)]="num2"
        placeholder="Num-2"
        class="form-control"
        style="max-width: 200px"
      />
    </div>
  </div>
  <div class="col-3">
    <div style="display: flex; align-items: center">
      <input [(ngModel)]="isActive" type="checkbox" class="me-2" />
      <select
        [(ngModel)]="selectedState"
        class="form-control"
        style="max-width: 200px"
      >
        <option value="">Select Country</option>
        <option value="India">India</option>
        <option value="Japan">Japan</option>
        <option value="Pakistan">Pakistan</option>
        <option value="Shrilanka">Shrilanka</option>
      </select>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-3">
    <ul>
      <li *ngFor="let city of cityArray">
        {{ city }}
      </li>
    </ul>
  </div>
  <div class="col-3 text-center">
    <div *ngFor="let city of cityArray">
      {{ city }}
    </div>
  </div>
  <div class="col-3">
    <select class="form-control">
      <option *ngFor="let city of cityArray" value=" {{ city }}">
        {{ city }}
      </option>
    </select>
  </div>
  <div class="col-3">
    <div style="display: flex; align-items: center">
      <select class="form-control" style="max-width: 200px">
        <option *ngFor="let student of studentList" [value]="student.studId">
          {{ student.name }}
        </option>
      </select>
    </div>
  </div>
</div>
<div class="row pt-3">
  <div class="col-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>City</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentList; let srNo = index">
          <td>{{ srNo + 1 }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.city }}</td>
          <td>
            <span *ngIf="student.isActive">Active</span>
            <span *ngIf="!student.isActive">De-Active</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
